* {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 4, 10, 0.767);
  height: 300px;
}

.container > input {
  width: 60%;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: none;
}

.container > input:focus {
  outline: none;
}

.container > button {
  width: 100px;
  margin: 2rem 0 2rem 0;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 5px;
  background-color: darkgrey;
  color: black;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
}

.container > button:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.valid {
  border: 3px solid green;
}

.invalid {
  border: 3px solid red;
}
